@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}


.hide-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* For Chrome, Safari, and Opera */
}

/* Dropdown container should adapt to available space */
.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 40px;
}

/* Main dropdown trigger container */
.dropdown-trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease;
}

/* Dropdown menu container */
.dropdown-menu {
  position: absolute;
  top: 100%; /* Default to open below */
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 240px; /* Default max height */
  overflow-y: auto; /* To allow scrolling if too many options */
}

.dropdown-menu.top {
  bottom: 100%; /* Open above if there's no space below */
  top: auto;
}

.dropdown-menu.open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.dropdown-menu.hidden {
  visibility: hidden;
  opacity: 0;
}
